@charset "utf-8";
/*$Id: style_subtheme-rtl.css,v 1.1.2.9 2009/01/26 23:49:05 tombigel Exp $*/
/**
 * Tendu Default: A sub-theme of Tendu - A CSS theme for developers
 * Incremental CSS overrides for RTL sites
 * Author: Tom Bigelajzen (http://drupal.org/user/173787) - http://tombigel.com
 */

/* Lists */
ul, ol{padding-left:0;padding-right:1em;}
ul li, ol li{margin-left:0;margin-right:1.5em;}


/* Flip main navagation */
#main-nav ul.menu li {float:right;margin-left:0em;margin-right:1em}

/*Header Blocks*/
#header-blocks ul{padding-right:0;}
/*Language switcher*/
#header-blocks #language-switcher ul{text-align:left;}
/*Search box*/
#header-blocks #search-box form{text-align:left;}

/*Site details*/
#site-details{float:right}
#site-logo{float:right}

/* Tabs */
ul.primary {padding-right:10px;padding-left:0;}
